@import "src/styles/variables";
@import "src/styles/mixins";

.logo {
  display: block;
  max-width: 152px;
  height: auto;
  margin: 0 auto 32px;
}

.title {
  font-size: 28px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 24px;

  @media (max-width: $mobileLarge) {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
  }
}

.description {
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: $gray2;
  margin: 0 0 32px;

  @media (max-width: $mobileLarge) {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}

a.phone,
button.toCart {
  @media (min-width: $mobileLarge + 1px) {
    height: 56px;
    font-size: 15px;
    line-height: 24px;
  }
}

a.phone {
  margin-bottom: 16px;
}
