@import "src/styles/variables";
@import "src/styles/mixins";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $tablet) {
    //align-items: stretch;
  }
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .6);
  backdrop-filter: blur(15px);

  @media (max-width: $tablet) {
    display: none;
  }
}

.content {
  max-width: 528px;
  width: 100%;
  position: relative;
  z-index: 99;
  max-height: 100%;
  overflow: auto;
  padding: 40px 0;
  box-sizing: border-box;

  @media (max-width: $tablet) {
    padding: 0;
    max-width: none;
    min-height: 100%;
    background: #fff;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
    //position: relative;
    //position: absolute;
    //top: 0;
    //left: 0;
    //right: 0;
    //bottom: 0;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.main {
  background: #fff;
  width: 100%;
  border-radius: 16px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  min-height: 400px;
  padding: 48px;

  @media (max-width: $tablet) {
    border-radius: 0;
    height: 100%;
    padding: 48px 24px;
    //position: absolute;
    //top: 0;
    //left: 0;
    //right: 0;
    //bottom: 0;
  }

  @media (max-width: $mobileLarge) {
    padding: 48px 16px;
  }
}

.close {
  position: absolute;
  right: 24px;
  top: 24px;
  border: none;
  background: none;
  width: 24px;
  height: 24px;
  padding: 0;
  z-index: 99;
  cursor: pointer;

  @media (max-width: $tablet) {
    background: #fff;
    position: fixed;
  }

  svg {
    stroke: $gray;
  }
}