@import "src/styles/variables";
@import "src/styles/mixins";

div.screen {
  display: flex;
  justify-content: space-between;
  height: 484px;
  margin: 48px auto;
  width: 100%;

  @media (max-width: $desktopSmall) {
    height: 384px;
    margin: 44px auto 40px;
  }

  @media (max-width: $tablet) {
    margin: 34px auto 46px;
    height: 322px;
  }

  @media (max-width: $mobileLarge) {
    margin: 20px auto 28px;
    height: 192px;
  }
}