@import "src/styles/variables";
@import "src/styles/mixins";

.eyeButton {
  position: absolute;
  background: none;
  border: none;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  &:hover {
    svg {
      fill: $primary;
      stroke: $primary;
    }
  }

  svg {
    fill: $gray;
    stroke: $gray;
    transition: all 250ms;
  }
}