@import "src/styles/variables";
@import "src/styles/mixins";

.header {
  box-shadow: 0 4px 40px 0 rgba(238, 238, 238, 0.99),
  0 4px 8px 0 rgba(66, 71, 76, 0.04);
  justify-content: space-between;
  position: relative;
  background: #fff;

  @media (max-width: 970px) {
    box-shadow: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
  }

  @media (max-width: $tabletSmall) {
    //border-bottom: 1px solid $gray5;
    padding: 0;
  }
}