@import "src/styles/variables";
@import "src/styles/mixins";

.block {
  text-align: center;

  @media (max-width: $tablet) {
    max-width: 480px;
    margin: 0 auto;
  }
}

.title {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  margin: 40px 0;
  color: $gray;
}

.description {
  font-size: 15px;
  line-height: 24px;
  color: $gray2;
  max-width: 400px;
  margin: 0 auto 40px;
}

a.toProfile,
button.close {
  height: 56px;
}

.toProfile {
  margin-bottom: 28px;
}