@import 'src/styles/variables';
@import 'src/styles/mixins';

.favorites {
  margin: 80px 0 160px;

  @media (max-width: $desktopSmall) {
    margin: 60px 0 120px;
  }

  @media (max-width: $tablet) {
    margin: 50px 0 80px;

  }

  @media (max-width: $mobileLarge) {
    margin: 28px 0 40px;
  }

  .breadcrumbs {
    margin-bottom: 40px;

    @media (max-width: $desktopSmall) {
      margin-bottom: 26px;
    }

    @media (max-width: $tablet) {
      display: none;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
  margin-bottom: 60px;
  border-bottom: 1px solid #d1d5db;

  @media (max-width: $desktopSmall) {
    padding-bottom: 26px;
    margin-bottom: 40px;
  }

  @media (max-width: $tablet) {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 46px;
    flex-wrap: wrap;
    
  }

  @media (max-width: $mobileLarge) {
    margin-bottom: 28px;
  }
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  margin: 0;

  @media (max-width: $desktopSmall) {
    font-size: 23px;
    line-height: 25px;
  }

  @media (max-width: $tablet) {
    padding-bottom: 26px;
    border-bottom: 1px solid #d1d5db;
    flex-basis: 100%;
    font-size: 33px;
    line-height: 40px;
    margin-bottom: 40px;
  }

  @media (max-width: $mobileLarge) {
    padding-bottom: 16px;
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 24px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  background-color: $gray1;
  border-radius: 16px;
  padding: 8px;
  @media (max-width: $tablet) {
    background: #f3f4f6;
    padding: 6px;
    flex-basis: 100%;
    border-radius: 26px;
  }

  @media (max-width: $mobileLarge) {
    padding: 4px;
    border-radius: 16px;
  }
}

.favoritesButton,
.cartButton {
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  padding: 12px 20px;
  text-align: center;
  border-radius: 16px;

  @media (max-width: $desktopSmall) {
    font-size: 9px;
    line-height: 12px;
    padding: 7px 16px;
    border-radius: 10px;
  }

  @media (max-width: $tablet) {
    font-size: 21px;
    line-height: 33px;
    flex-basis: 48%;
    text-align: center;
    padding: 13px 26px;
    border-radius: 20px;
  }

  @media (max-width: $mobileLarge) {
    font-size: 13px;
    line-height: 20px;
    padding: 8px 16px;
    border-radius: 12px;
  }
}

.cartButton {
  border: none;
  background: none;
  text-decoration: none;
  color: $gray;
  transition: all 250ms;

  &:hover {
    color: $primary;
  }
}

.favoritesButton {
  display: block;
  background: $primary;
  color: #fff;
  margin-right: 16px;

  @media (max-width: $tablet) {
    margin-right: 8px;
  }
}

.emptyTitle {
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
  text-align: center;
  margin: 120px 0;

  @media (max-width: $desktopSmall) {
    font-size: 24px;
    line-height: 32px;
  }

  @media (max-width: $tablet) {
    margin: 80px 0;
  }

  @media (max-width: $mobileLarge) {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    margin: 40px 0 120px;
  }
}
