$primary: #FE7100;
$gray: #2f2f2f;
$gray1: #F3F4F6;
$gray2: #626262;
$gray3: #9a9da3;
$gray4: #999;
$gray5: #f9fafb;
$gray6: #E5E7EB;
$gray7: #d7d7d7;
$white: #fff;

$wrapper: 1328px;
$wrapperDesktopSmall: 1000px;
$wrapperTablet: 600px;
$wrapperMobile: 500px;

$desktop: 1360px;
$desktopSmall: 1024px;
$tablet: 768px;
$tabletSmall: 600px;
$mobileLarge: 480px;
$mobile: 390px;
$mobileSmall: 360px;