@import 'src/styles/variables';
@import 'src/styles/mixins';

.card {
	//max-width: 288px;
	max-width: 240px;
	//border-radius: 16px;
	//box-shadow: 0 4px 40px 0 rgba(238, 238, 238, 0.4),
	//0 4px 8px 0 rgba(66, 71, 76, 0.04);
	//overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	transition: box-shadow 250ms;

	&:hover {
		border-radius: 16px;
		box-shadow: 0 4px 40px 0 rgba(238, 238, 238, 0.7),
			0 4px 16px 0 rgba(66, 71, 76, 0.04);
		overflow: hidden;

		.main {
			box-shadow: none;
			overflow: visible;
			background: none;
			border-radius: 0;
		}

		button.toCart {
			opacity: 1;
			pointer-events: visible;
		}
	}

	@media (max-width: $desktopSmall) {
		//max-width: 221px;
		border-radius: 12px;
	}

	@media (max-width: $tablet) {
		//max-width: 280px;
		border-radius: 26px;
		// width: 156px;
		width: 100%;
	}

	@media (max-width: $mobileLarge) {
		//max-width: 156px;
		border-radius: 16px;
	}

	@media (pointer: coarse) {
		border-radius: 16px;
		box-shadow: 0 4px 40px 0 rgba(238, 238, 238, 0.4),
			0 4px 8px 0 rgba(66, 71, 76, 0.04);
		overflow: hidden;
	}
}

.link {
	display: block;
	text-decoration: none;
	color: inherit;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.main {
	box-shadow: 0 4px 40px 0 rgba(238, 238, 238, 0.4),
		0 4px 8px 0 rgba(66, 71, 76, 0.04);
	overflow: hidden;
	background: #fff;
	border-radius: 16px;
	height: 100%;
	display: flex;
	flex-direction: column;

	@media (max-width: $desktopSmall) {
		border-radius: 12px;
	}

	@media (max-width: $tablet) {
		border-radius: 26px;
	}

	@media (max-width: $mobileLarge) {
		border-radius: 16px;
	}

	@media (pointer: coarse) {
		box-shadow: none !important;
		background: none;
		border-radius: 0;
	}
}

.top {
	position: relative;
	background: $gray6;

	&::before {
		content: '';
		display: block;
		padding-bottom: 75%;
	}
}

.img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}

.buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 24px;
	left: 24px;
	right: 24px;

	@media (max-width: $desktopSmall) {
		top: 16px;
		left: 16px;
		right: 16px;
	}

	@media (max-width: $tablet) {
		top: 20px;
		left: 20px;
		right: 20px;
		width: 132px;
		height: 28px;
	}

	@media (max-width: $mobileLarge) {
		top: 12px;
		right: 12px;
		left: 12px;
		width: -webkit-fill-available;
	}

}

.provider {
	display: block;
	font-size: 11px;
	line-height: 16px;
	letter-spacing: 0.4px;
	margin: 0 24px 0 0;
	color: $gray;
	padding: 8px 16px;
	border-radius: 12px;
	background: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	transition: all 250ms;
	position: relative;
	z-index: 3;

	&:hover {
		color: $primary;
	}

	@media (max-width: $desktopSmall) {
		font-size: 9px;
		line-height: 12px;
		letter-spacing: 0.6px;
	}

	@media (max-width: $tablet) {
		border-radius: 20px;
		font-size: 15px;
		line-height: 20px;
		letter-spacing: 1px;
		padding: 6px 20px;
		margin-right: 4px;
	}

	@media (max-width: $mobileLarge) {
		font-size: 9px;
		line-height: 12px;
		padding: 8px 12px;
		letter-spacing: 0.6px;
	}
}

.toFavorite {
	width: 32px;
	height: 32px;
	background: #fff;
	border-radius: 50%;
	padding: 0;
	border: none;
	position: relative;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	flex-shrink: 0;

	&:hover {
		svg {
			stroke: $primary;
		}
	}

	svg {
		stroke: $gray;
		fill: none;
		transition: all 150ms;
	}
}

.removeFromFavorite {
	svg {
		stroke: $primary;
		fill: $primary;
	}
}

.info {
	padding: 16px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	@media (max-width: $desktopSmall) {
		padding: 14px 18px;
	}

	@media (max-width: $tablet) {
		padding: 20px;
	}

	@media (max-width: $mobileLarge) {
		padding: 12px;
	}
}

.category {
	font-size: 11px;
	line-height: 20px;
	color: $gray3;
	margin: 0 0 4px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	@media (max-width: $desktopSmall) {
		font-size: 10px;
		line-height: 14px;
		margin-bottom: 3px;
	}

	@media (max-width: $tablet) {
		font-size: 15px;
		line-height: 20px;
		letter-spacing: 1px;
		margin-bottom: 7px;

	}

	@media (max-width: $mobileLarge) {
		font-size: 9px;
		line-height: 12px;
		letter-spacing: 0.6px;
		margin-bottom: 4px;
	}
}

.name {
	font-size: 13px;
	font-weight: 700;
	line-height: 24px;
	color: $gray;
	margin: 0 0 8px;
	height: 48px;

	overflow: hidden;
	@include lineclamp(2);

	@media (max-width: $desktopSmall) {
		font-size: 11px;
		line-height: 18px;
		margin-bottom: 9px;
	}

	@media (max-width: $tablet) {
		font-size: 18px;
		line-height: 26px;
		letter-spacing: 0.6px;
		margin-bottom: 20px;
		max-height: 3em;




	}

	@media (max-width: $mobileLarge) {
		font-size: 11px;
		line-height: 16px;
		font-weight: 700;
		letter-spacing: 0.4px;
		margin-bottom: 12px;

	}
}

.prices {
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: auto;
}

.price,
.discountPrice {
	font-size: 17px;
	font-weight: 700;
	line-height: 32px;
	color: $primary;
	margin: 0;

	@media (max-width: $desktopSmall) {
		font-size: 15px;
		line-height: 24px;
	}

	@media (max-width: $tablet) {
		font-size: 21px;
		line-height: 33px;
	}

	@media (max-width: $mobileLarge) {
		font-size: 13px;
		line-height: 20px;
	}
}

.discountPrice {
	margin-right: 28px;
}

.strike {
	color: $gray4;
	text-decoration: line-through;
}

button.toCart {
	width: 200px;
	display: flex;
	justify-content: center;
	justify-self: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.3s ease;
	flex-shrink: 0;
	border: none;
	position: relative;
	z-index: 3;
	margin: 0 20px;
	padding: 12px 40px;
	opacity: 0;
	pointer-events: none;
	background-color: $white;
	color: $primary;
	position: absolute;
	top: 38%;
	white-space: nowrap;

	&:hover {
		color: white !important;
	}

	@media (max-width: $desktopSmall) {
		margin: 0 14px 18px;
	}

	@media (max-width: $tablet) {
		// margin: 0 20px 20px;
		position: relative;
		top: 0;
		background-color: $primary;
		color: $white;
		width: 132px;
		height: 28px;
		font-weight: 500;
		font-size: 9px;
		border-radius: 8px;
		opacity: 1;
	}

	@media (max-width: $mobileLarge) {
		margin: 0 12px 12px;
	}

	@media (pointer: coarse) {
		opacity: 1;
		pointer-events: auto;
	}

	svg {
		display: none;
		stroke: #fff;
		margin-left: 10px;
	}
}

.desktopCartText {
	@media (max-width: 1140px) {
		display: none;
	}
}

.mobileCartText {
	display: none;

	@media (max-width: 1140px) {
		display: block;
	}

	@media (max-width: $tabletSmall) {
		font-size: 9px;
		line-height: 12px;
	}
}