@import "src/styles/variables";
@import "src/styles/mixins";

.tableWrapper {
  width: 100%;
  overflow: auto;
  margin-bottom: auto;
}

.table {
  width: 100%;
  min-width: 630px;
  border-collapse: collapse;
}

.headRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.headCol {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: .4px;
  color: $gray3;
  padding-bottom: 16px;
  text-align: left;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //padding: 12px 12px 12px 0;
  padding: 12px 0;
  flex-shrink: 0;
  flex-grow: 0;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  transition: all 250ms;
  position: relative;

  &:last-of-type {
    &::after {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: calc(100% - 10px);
    background: $gray6;
    left: 50%;
    transform: translateX(-50%);
  }

  &:hover {
    background: rgba(0, 0, 0, .05);
  }
}

.headId,
.id {
  flex-basis: 11.2%;
  width: 11.2%;
  padding-left: 16px;
}

.headQuantity,
.quantity {
  flex-basis: 22%;
  width: 22%;

  @media (max-width: $tablet) {
    flex-basis: 14%;
    width: 14%;
  }
}

.headTotal,
.total {
  flex-basis: 14%;
  width: 14%;
}

.headDate,
.date {
  flex-basis: 11.2%;
  width: 11.2%;
}

.headStatus,
.status {
  flex-basis: 12.3%;
  width: 12.3%;
  padding-right: 16px;
}

.col {
  font-size: 13px;
  line-height: 20px;
  color: $gray2;
}